html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: lighgrey;
  box-sizing: border-box;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid red;
}
nav a {
  margin-left: 50px;
}
a {
  color: lightorange;
  text-decoration: none;
}
